.user-screen{
  width: 500px;
  display: flex;
  justify-content: center;
}
.order{
  width: 60%;
  margin-top: 35%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.auth-field{
  padding: 10px;
}
